@page "/about"
<PageTitle>About</PageTitle>

<div class="jumbotron">
    <h1 class="text-center display-3">Grown in the Southwest, Molded in the PNW</h1>
</div>

<div class="row pt-3 align-items-center">
    <div class="col-md-3">
        <img src="/Assets/Image/HighSchoolFamily.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <p>
            Born and raised in the vibrant city of Santa Fe, New Mexico, Carlos Andres Vazquez Baur has always
            possessed an insatiable curiosity and a deep desire to learn and grow from his surroundings. His
            bi-racial heritage as a Mexican-American has provided him with a unique perspective, allowing him to
            recognize and appreciate the duality inherent in many aspects of life. Growing up with two accomplished
            lawyers as parents instilled in him the value of effective communication and advocacy, shaping his
            ability to articulate his thoughts and opinions with clarity and conviction. He also gleaned from his
            parents' example a profound appreciation for a multi-faceted, well-rounded life.
        </p>
        <p>
            Carlos's diverse lineage further enriched his upbringing. His father and maternal grandfather were both
            talented musicians, while his paternal grandfather was a distinguished physicist. This exposure to a
            wide range of interests and passions ignited his own creative spark and fostered a lifelong love of
            exploration.
        </p>
        <p>
            Carlos's journey into the world of performance began at the Cathedral Basilica of St. Francis of Assisi,
            where a fateful encounter with Carmen Florez-Mansi would forever alter the course of his life. While he
            maintained an active interest in sports and STEM subjects, singing quickly became his primary focus and
            passion. At the tender age of seven, he joined Pandemonium Productions under the tutelage of Chris
            Leslie, where his love for performing blossomed into an undeniable calling. Over the next decade,
            Carlos's talent and dedication propelled him to remarkable heights. He graced the stage in nearly thirty
            musicals through Pandemonium and St. Michael's High School, showcasing his versatility and captivating
            audiences with his presence. He also honed his musical skills as a member of an award-winning youth
            Marimba Band through the Cathedral Basilica, and his angelic voice resonated as part of the Cathedral
            Basilica Pontifical Choir, where he participated in numerous prestigious events, including the 400th
            Anniversary of the City of Santa Fe.
        </p>
    </div>
</div>
<div class="row pt-3 align-items-center">
    <div class="col-md-9">
        <p>
            After graduating high school, Carlos embarked on the next chapter of his academic journey at Gonzaga
            University in Spokane, Washington. At Gonzaga, he immersed himself in a multifaceted educational
            experience, pursuing a double major in Mathematics and Computer Science. Driven by his unwavering
            passion for music, Carlos secured a music scholarship and promptly became an active member of the
            Gonzaga Concert and Chamber Choirs. His dedication and leadership qualities were evident through his
            involvement in the Gonzaga Choir Council, where he served in various capacities, including secretary,
            treasurer, men's attire coordinator, and logistics coordinator.
        </p>
        <p>
            Carlos's engagement extended beyond his academic pursuits and musical commitments. He actively
            participated in a diverse range of organizations on campus, including Gonzaga SNAPS (student narrative
            and poetry society), where he explored his creative writing and literary interests. He also joined the
            Gonzaga rocketry club, where he delved into the exciting world of aerospace engineering and rocket
            propulsion. Additionally, he contributed to the Gonzaga Education Department community tutoring program,
            sharing his knowledge and passion for learning with local students. Carlos's involvement in La Raza
            Latina fostered his connection to his cultural heritage and provided a supportive community on campus.
            He also embraced the outdoor opportunities offered by the Gonzaga Ski and Snowboard Club, enjoying the
            slopes and snowy landscapes of the Pacific Northwest. Furthermore, his talent and charisma shone through
            his participation in several theatrical productions for the Gonzaga Theater Department.
        </p>
        <p>
            By 2020, Carlos was poised to complete his undergraduate studies and embark on a career that would
            seamlessly blend his love for music and mathematics. However, the unexpected arrival of the COVID-19
            pandemic disrupted his plans and introduced unforeseen challenges.
        </p>
    </div>
    <div class="col-md-3">
        <img src="/Assets/Image/Florence2019.jpg" class="img-fluid rounded">
    </div>
</div>
<div class="row pt-3 align-items-center">
    <div class="col-md-3">
        <img src="/Assets/Image/Carlos.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <p>
            The COVID-19 pandemic had a profound impact on Carlos, igniting a newfound passion for politics and
            activism. Previously, these areas hadn't occupied much of his thoughts, but the pandemic forced him to
            confront how his identity as a biracial Mexican American man had shaped his life experiences. This
            introspection led him to re-evaluate his career path, seeking ways to contribute to positive change and
            make a meaningful difference in the world.
        </p>
        <p>
            Driven by this newfound purpose, Carlos relocated back to Santa Fe, where he took on the role of IT
            Manager for the state senate during the challenging and impactful 2021 legislative session. This pivotal
            role placed him at the heart of major legislative decisions, including the codification of abortion
            access into the state constitution and the legalization of recreational cannabis. Additionally, he
            played a crucial role in transitioning the state senate to a largely remote infrastructure in response
            to the pre-vaccine pandemic environment. His exceptional work during this period earned him glowing
            commendations from his supervisors.
        </p>
        <p>
            Building on this success, Carlos continued to provide IT and project management services on a contract
            basis to various state agencies. He also contributed his expertise to the project management team
            responsible for the statewide implementation of a new financial reporting software. However, his desire
            to delve deeper into software development led him to transition to the private sector, where he worked
            remotely as an Android Developer for TD Bank for three years.
        </p>
        <p>
            Throughout his time at TD Bank, Carlos continued to pursue his passion for skiing, honing his skills on
            the slopes. Simultaneously, he embarked on a professional music and theater career, showcasing his
            talents in three full musicals, an opera workshop, numerous symphonic and cathedral choral performances,
            and various solo concerts.
        </p>
        <p>
            In the winter of 2024, Carlos further diversified his skillset by becoming a ski instructor at Ski Santa
            Fe, where he quickly became a sought-after Spanish-speaking instructor for skiers of all levels. He very
            quickly improved both his teaching and skiing techniques, becoming a PSIA instructor and gaining trust
            from his supervisors to teach off-piste lessons to highly skilled clients.
        </p>
        <p>
            Currently, Carlos is employed as an application developer at the New Mexico Department of Health, where
            he maintains their website and develops innovative tools to aid the state's response to public health
            challenges. He also continues to share his musical gifts as a contract section leader and soloist for
            the Santa Fe Symphony Choir and St. Francis Cathedral Basilica Pontifical Choir.
        </p>
    </div>
</div>
<div class="row pt-3 align-items-center">
    <div class="col text-center">
        <h4>Further information</h4>
        <p>To get further information on my various services, use the buttons below.</p>
    </div>
</div>
<div class="row mb-6 pb-5">
    <div class="col">
        <div class="text-center"><a class="btn btn-primary center" href="/software-engineering">Software</a></div>
    </div>
    <div class="col">
        <div class="text-center"><a class="btn btn-primary center" href="/singing">Singing</a></div>
    </div>
    <div class="col">
        <div class="text-center"><a class="btn btn-primary center" href="/skiing">Skiing</a></div>
    </div>
</div>
<div class="row pt-3 align-items-center">
    <h4 class="text-center">Or shoot me an email!</h4>
    <div class="text-center"><a class="btn btn-primary center" href="/contact">Holla At Your Boy</a></div>
</div>

@code {

}
