<footer class="text-light py-3 background-turquoise">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <p>&copy; @DateTime.Now.Year Carlos Andres Vázquez Baur</p>
                <div class="row">
                <div class="col text-start">
                <a href="https://www.linkedin.com/in/carlos-vazquezbaur/" class="text-light mx-2">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/cvazquezbaur" class="text-light mx-2">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/cvazquezbaur" class="text-light mx-2">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.threads.net/@@cvazquezbaur" class="text-light mx-2">
                    <i class="bi bi-threads-fill"></i>
                </a>
                <a href="https://github.com/cvazquezbaur" class="text-light mx-2">
                    <i class="bi bi-github"></i>
                </a>
                </div>
            </div>
            </div>
            <div class="col text-end">
                <p>All development done with .Net Blazor and Bootstrap. Future versions will be done in Flutter and React.js with Tailwind.css</p>
                <p>Feel free to contact me through the form linked above or through my socials.</p>
            </div>
        </div>
    </div>
</footer>

@code {
    
}
