@page "/singing"
<PageTitle>Carlos Vazquez Baur - Singing</PageTitle>

    <div class="jumbotron">
        <h1 class="text-center display-3">A Classical Baritone with a Theatrical Twist</h1>
    </div>
    

@code {

}
