@page "/singing"
<PageTitle>Carlos Vazquez Baur - Singing</PageTitle>

<div class="jumbotron">
    <h1 class="text-center display-3">A Classical Baritone with a Theatrical Twist</h1>
    <div class="text-center"><a role="button" class="btn btn-primary" href="#gallery-section">Go to Gallery</a></div>
</div>
<div class="row pt-3">
    <h3 class="text-center">Basic Beginnings</h3>
    <p class="text-center">
        Carlos's musical journey began as early as his first words. An innate passion for music pulsed within him, and he was eager to express it. Initially, his introduction to the world of music came from the CDs played during car rides, which exposed him to a mix of Latin rhythms and classic rock anthems from the 60s through the 80s. However, it was the enchanting melodies of musicals that truly ignited his passion. Although Disney soundtracks were his early favorites, his musical tastes soon evolved and diversified.
    </p>
    <p>
        At the tender age of four, Carlos's musical journey took a significant step forward when he became a member of the Cathedral choir. This experience not only allowed him to develop his vocal abilities but also introduced him to the rhythmic world of percussion, which he played during mass services. This marked the beginning of a lifelong relationship with music, one that would shape his identity and provide him with countless opportunities for expression, growth, and joy.
    </p>
    <div class="col-3">
        <img src="/Assets/Image/CarlosAndEnrique.JPG" class="img-fluid">
    </div>
    <div class="col-9">
        <p>
            Carlos's musical journey began early, singing in front of hundreds of parishioners at the Cathedral from the tender age of 6. He didn't just sing; he accompanied the songs, playing instruments and immersing himself in the music. As he grew, so did his musical abilities and the complexity of the music he performed. He transitioned from simple melodies to singing harmonies with adult choruses, while also learning to play the drum kit.
        </p>
        <p>
            At 12, a new and exciting chapter unfolded as he joined the Zimbabwean marimba band. This unique style of marimba demanded that he constantly train his ear, discern new parts, and even compose new mass settings with his fellow teenage band members. The band's talent and dedication led them to perform all over Santa Fe, including a prestigious engagement at the city's 400th anniversary mass, graced by the presence of the King and Queen of Spain.
        </p>
        <p>
            Throughout his percussion journey, Carlos never abandoned his singing. He continued to develop his vocal abilities, often asked to sing solo, and his confidence as a singer blossomed. His experiences nurtured a well-rounded musician, comfortable both behind a drum kit and at the forefront, captivating audiences with his voice.
        </p>
    </div>
</div>
<div id="gallery-section">
    <h3 class="text-center">Gallery</h3>
    <p class="text-center lead">Here are a few snippets of Carlos performing, videos and photos:</p>
</div>
    

@code {

}
